# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual env ---
.venv/
venv/

# --- Django ---
*.log
db.sqlite3
media/
static/

# --- Secrets / env ---
.env
.env.*
*.sqlite3

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/

# --- Test / build ---
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/


gunicorn.ctl